* {
    margin: 0;
    
}
header {
    background-image: url(../img/pattern.png);
    background-color:brown;
    height: 100px;
}
#logo {
    height: 50px;
    padding: 35px 0px 15px 5px;
}
h1 {
    font-size: 40px;
}
.sottotitolo {
    padding-bottom: 20px;
}
.grigio {
    color: gray;
}
.legenda {
    font-size: small;
}
#parte-centrale {
    padding-top: 15px;
}
ul {
    padding: 20px;
}
.evidenziato {
    background-color: yellow;
}
table {
    width: 100%;
    text-align: left;
}
.colonna-uno {
    width: 25%;
}
.colonna-due {
    width: 25%;
}
.colonna-tre {
    width: 50%;
}
.header-row {
    background-color: rgb(78, 160, 255);
    color: white;
}
.odd {
    background-color: rgb(177, 229, 242);
}